#main{
  width: 100vw;
  height: auto;
  min-height: 100vh;
  background-color: #3AD6B2;
  padding: 100px 0;
}
.top .content{ position: relative;}
.sub_title{
  font-size: 3.2rem;
  text-align: center;
  color: #fff;
}
.logo_text{
  font-family: dnp-shuei-anti-std, sans-serif;
  font-weight: bold;
  font-style: normal;
  display: flex;
  margin-bottom: 30px;
}
.logo_text .b_text{
  padding: 0 20px;
  font-size: 6.2rem;
  text-align: center;
  color: #fff;
  background-color: #29C4A0;
  display: inline-block;
  margin: auto;
}
.logo_text .t_small{
  font-size: 5.2rem;
}
.top .section1 .inner{
  background: rgba(255, 255, 255, 0.5);
  padding: 30px 20px;
  border-radius: 5px;
}
.h2_tit{
  text-align: center;
  font-size: 3.2rem;
  font-weight: bold;
}

.img-circle{
  width: 280px;
  clip-path: circle(40% at 50% 50%);
  display: block;
  margin: 0 auto;
}