<!-- result.html -->
<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>大根ページ | 野菜、撮れてる？</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/common.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
  </head>
  <body>
        <div id="wrap" class="top">
            <article id="main">
                <div class="content">
                    <section class="section1">
                        <div class="inner">
                            <h2 class="h2_tit"><span>あなたの肌は大根です。</span></h2>
                            <div class="img-circle"><img src="{{url_for('static', filename='img/carrot.jpg')}}" alt="" srcset=""></div>
                            <P>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                            </P>

                        </div>
                    </section>
                    <footer class="footer">
                            <div class="inner"><small class="copy">&copy;1CONTINUE</small></div>
                    </footer>
                </div>
            </article>
        </div>
  </body>
</html>